/*
html{
  height: 100%;
  overflow: hidden;
}

body{
      color: #fff;
      margin: 0;
      padding: 0;
      perspective: 1px;
      transform-style: preserve-3d;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      font-family: "Luna";
}
header{
      box-sizing: border-box;
      padding: 30vw 0 5vw;
      width: 100vw;
      min-height: 100vh;
      position: relative;
      transform-style: inherit;
}

header h1{
      margin-top: -100px;
}
header *{
      text-align: center;
      font-size: 3rem;      
}
.box{
      box-shadow: black 5px 5px 10px;
      height: auto;
      width: auto;
      background: rgba(0,0,0,0.5);
      margin: auto;
      padding: 20px;
}
header, header:before{
      background: 50% 50% / cover;
}

header::before{
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      background-image: url(../images/photo.jpg);
      background-size: cover;
      transform-origin: center center 0;
      transform: translateZ(-1px) scale(2);
      z-index: -1;
      min-height: 500vh;
}
.dummy{
      height: 500px;
      background: rgba(0,0,0,0.5);
}
*/

body,html{
      height: 100%;
      margin: 0;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      line-height: 1.8em;
      color: #666;
}

.navbar-brand{
      height: 100%;
      width: auto;
      margin: 0 !important;
      padding: 0 !important;
      z-index: 99;
      
}

.pimg1, .pimg2, .pimg3{
      background-position: center;
      opacity: 0.7;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative;
}

.pimg1{
      background-image: url(../images/photo1.jpg);
      min-height: 100%;
}
.pimg2{
      background-image: url(../images/photo2.jpg);
      min-height: 500px;
}
.pimg3{
      background-image: url(../images/photo3.jpg);
      min-height: 500px;
}

section{
      padding: 50px 80px;
      text-align: center;
}

.section-light{
      background-color: #f4f4f4;
      color: #666;
}

.section-dark{
      background-color: #282e34;
      color: #ddd;
}

.ptext{
      margin: 50px auto;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      color: #000;
      font-size: 27px;
      letter-spacing: 8px;
      text-transform: uppercase;
}
.ptext .border{
      background-color: #111;
      color: #fff;
      padding: 0px;
      
}
.jumbotron{
      width: 70%;
      margin: auto;
      background-color: rgba(0,0,0,0.3) !important
}
.ptext .border.trans{
      background-color: transparent;
}

@media (max-width: 568px){
      .pimg1, .pimg2, .pimg3{
            background-attachment: scroll;
      }
}


















