*{
      margin: 0;
      padding: 0 auto;
      text-decoration: none;
      list-style: none;
      font-family: "Roboto", sans-serif;
/*      border: 0.4px solid gray;*/
}
a{
      color: inherit;
}

.clr{
      clear:both;
}

header{
      width:100%;
      height: auto;
      display: block;
      
      z-index: 5;
      background: white;
      top:0;
}
#top{
      width: 80%;
      display:flex;
      padding: 0 10%;
      color: #7d7d7d;
      font-weight: 700;
      font-size: 0.8rem;
      letter-spacing: .02rem;
      align-content: space-between;
      position: relative;
      z-index: 10;
      
}
#search{
      display: flex;
      width: 400px;
      margin: auto 30px auto 60px;
      border-radius: 20px;
      background: #f7f7f7;
      border: solid 1px #e1e1e1;
      padding: 6px;
      overflow: hidden;
}
#search input{
      width:92%;
      outline: none;
      border: none;
      background: #f7f7f7;
      margin-left: 10px;
}
#search button{
      width:3%;
      outline: none;
      font-size: 1.1rem;
      color: #777777;
      margin:0px;
      padding:0;
      border: none;
      background: #f7f7f7;
}
#top img{
      width: 50px;
      height: 50px;
      margin:auto;
}
#top span{
      padding-left: 10px !important;
      padding-right: 10px;
      height:100%;
      line-height: 100%;
      box-sizing: border-box;
      margin: auto 0;
      border-right:#e3e3e3 solid 1px;
}
#top span:nth-child(5){
      border-right:none;
}
#top #login {
      background-color: white;
    color: inherit;
    border: none;
    cursor: pointer;
    width: auto;
	font-size: 1rem;
      font-weight: inherit;
      padding: 10px;
}
#top #login:hover {
    opacity: 0.8;
}
#cart{
      border:2px solid #446084;
      min-width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      position: relative;
      z-index: initial;
      color: #446084;
      margin: 17px 0 10px 20px;
      background-color:white;
      transition: color 0.2s, background 0.2s;
}
#cart:hover{
      background-color: #446084;
      color:white;
}
#cart #cart-handle{
      position: absolute;
      top:-9px;
      right: 6px;
      z-index: -1;
      border: 2px solid #446084;
      width: 13px;
      height: 25px;
      border-radius: 8px;
      transition: top 0.2s;
}
#cart:hover #cart-handle{
      top: -12px;
}
#cart:hover #cart-info{
      display: block;
      position: absolute;
      top: 50px;
      right: -50px;
      width: 200px;
      padding: 10px;
      
}
#cart-info.callouts:before{
      left: 150px;
}
#cart-info.callouts:after{
      left: 153px;
}
nav ul{
      display: flex;
      position: relative;
      background-color: #4528ff;
      color: #dad4ff;
      font-size: 1rem;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      padding: 0 10%;
      justify-content:center;
}
nav ul li {
      margin: 0 7px;
      transition: color 0.3s;
}
nav ul li:hover{
      color: white;
}
*:before, *:after { 
      box-sizing: border-box; 
      margin: 0; 
      padding: 0;
}

.callouts:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 59px;
	top: -29px;
  border: 12px solid transparent;
  border-bottom: 17px solid #dad4ff;
  z-index: 2;
}
.callouts:after {
  content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 62px;
	top: -22px;
  border: 9px solid transparent;
  border-bottom: 14px solid #17519e;
  z-index: 3;
}
nav ul li ul, #cart-info{
      display: none;
      padding: 20px;
      background-color: #17519e;
      width: 400px;
      height: auto;
      position: absolute;
      z-index: 99;
      font-size: 0.9rem;
      border: solid 2px #dad4ff;
      border-radius: 10px;
}

nav ul li ul li{
      width: 180px;
      height: 40px;
      line-height: 40px;
      border-bottom: 0.5px solid #4574b1;
      font-weight: normal;
      float:left;
      margin: 0 10px;
}
nav ul li:hover ul{
      display: block;
      position: absolute;
      top: 40px;
      left: 10%;
      opacity: 1;
}
      
#container{
      width: 80%;
      margin: 20px 10% 0 10%;
      height: 500px
/*
      position: relative;
      z-index: -1;
*/
}
#main1{
      width:68%;
      height:600px;
      float:left;
      padding-right: 12.5px;
      margin-bottom: 30px;
      display: grid;
      grid-gap: 20px;
      grid-template-areas: 
            'slider slider'
            'img1 img2';
      
}

#img1, #img2{
      width: 100%;
      height: 185px;
      background-position: center;
}
#img1{
      background: url('images/hinh3.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: img1;
}
#img2{
      background: url('images/hinh4.jpg'); background-size: cover;
      background-repeat: no-repeat;   
      grid-area: img2;
}

#main2{
      width: 28%;
      height:100%;
      float: right;
      display: flex;
      padding-left: 12.5px;
      margin-bottom: 30px;
      border-left: 0.5px solid #d4d4d4;
      flex-direction: column;
      justify-content: space-between;
}
#main2 img{
      width: 100%;
      height: 185px;
      margin-bottom:20px;
}
#main3, #main4{
      
      width: 100%;
      display:flex;
}
span.title{
      margin-top: 30px;
      border-bottom: 2px solid #ececec;
      margin-bottom:-2px;
      padding: 20px 0;
}
div.title{
      width: 100%;
      font-size: 1.3rem;
      font-weight: bold;
      color: #0d55ff;
      border-bottom: 2px solid #d4d4d4;
      padding: 20px 0;
      margin-bottom: -2px;     
}
#main3 .card, #main4 .card {
      width: 200px;
      height:auto;
      position: relative; 
      text-align: center;
      margin: 10px auto;
}
.sale{
      width:50px;
      height:50px;
      line-height: 50px;
      text-align: center;
      color: white;
      font-weight: bold;
      border-radius:50%;
      background-color: #d26e4b;
      position: absolute;
      top: 20px;
      left: 0px;
}
.card img{
      width: 100%;
}
.company{
      font-size: 0.7rem;
      color: #acacac;    
}
.prod-name{
      font-size: 0.9rem;
      color:#53657b;
}
.from-old{
     color: #969696;
      font-size: 1.1rem;
      text-decoration: line-through;
}
.from-new{
      color: #969696;
      font-size: 1.1rem;
}
.old-price{
      color:#fa7272;
      font-weight: bold;
      font-size: 1.3rem
}
.new-price{
      color:#f70707;
      font-weight: bold;
      font-size: 1.3rem
}

.jssorl-009-spin{
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      text-align:center;
      background-color:rgba(0,0,0,0.7);
}

/*jssor slider bullet skin 051 css*/
.jssorb051 .i {
      position:absolute;
      cursor:pointer;
      
}
.jssorb051 .i .b {
      fill:#fff;
      
      fill-opacity:0.5;
}
.jssorb051 .i:hover .b {
      fill-opacity:.7;
}
.jssorb051 .iav .b {
      fill-opacity: 1;
}
.jssorb051 .i.idn {
      opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051{
      display:block;
      position:absolute;
      cursor:pointer;}
.jssora051 .a {
      fill:none;
      stroke:#fff;
      stroke-width:360;
      stroke-miterlimit:10;}
.jssora051:hover {
      opacity:.8;
}
.jssora051.jssora051dn {
      opacity:.5;
}
.jssora051.jssora051ds {
      opacity:.3;
      pointer-events:none;
}

#hot-prod{
      position: absolute;
      top: 1500px;
      left: 10%;
      width: 80%;
}
#main5{
      width: 100%;
      height: 500px;
      display: block;
      position: absolute;
      top: 1550px;
}
#jssor_2{
      position:relative;
      margin:0 auto;

      width:1140px  !important;
      height:500px;
      overflow:hidden;
      visibility:hidden;
}
div#slide {
      cursor:default;
      position:relative;
      top:0px;
      left:-20px;
      width: 1140px !important;
      height:500px;
      overflow:hidden;
}
#slide .card{
      width: 250px  !important;
      margin: 20px;
      
}

/*jssor slider bullet skin 057 css*/
.jssorb057 .i {
      position:absolute;
      cursor:pointer;
}
.jssorb057 .i .b {
      fill:none;
      stroke:#fff;
      stroke-width:2000;
      stroke-miterlimit:10;
      stroke-opacity:0.4;
}
.jssorb057 .i:hover .b {
      stroke-opacity:.7;
}
.jssorb057 .iav .b {
      stroke-opacity: 1;
}
.jssorb057 .i.idn {
      opacity:.3;
}

/*jssor slider arrow skin 073 css*/
.jssora073{
      display:block;
      position:absolute;
      cursor:pointer;
}
.jssora073 .a {
      fill:#ddd;
      fill-opacity:.7;
      stroke:#000;
      stroke-width:160;
      stroke-miterlimit:10;
      stroke-opacity:.7;
}
.jssora073:hover {
      opacity:.8;
}
.jssora073.jssora073dn {
      opacity:.4;
}
.jssora073.jssora073ds {
      opacity:.3;pointer-events:none;
}


/* Sign in pop up */
form input[type=text], form input[type=password] {
    width: 100%;
    padding: 12px 26px;
    margin: 20px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

/* Set a style for all buttons */
form button {
      background-color: #446084;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
	font-size: 1.2rem;
      font-weight: bold;
      padding: 10px;
}
form button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: top;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto;
    border: 1px solid #888;
    width: 60%; 
	padding: 20px;
      color: #555555;
}
form input[type=checkbox]{
     margin: 10px !important; 
}
h4{
    display: inline;
      
}
/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s;
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
animation-name: jssorl-009-spin;
animation-duration: 1.6s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

