/*Global*/
*{
      padding: 0;
      margin:0;
      font-family: myFirstFont, sans-serif;
      letter-spacing: 5px;
      color: white;
}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Futura-Medium.woff);
}
/*
body, html{
      height:4400px;
      overflow: hidden;
}
*/

/*
html{
      scroll-behavior: smooth;
}
*/
a, ul{
      text-decoration: none;
      color: inherit;
}
.clr::after {
    content: "";
    clear: both;
    display: table;
}

header{
      top: 0.1vw;
      position: fixed;
      font-size: 0.5rem;
      margin: 1vw 2vw;
}
#menu, #up{      
      width: 50px;
      position: fixed;
      right: 5%;
      cursor:pointer;
      transition: box-shadow 0.2s ease-in-out;

/*      display:none;*/
}

#menu:hover, #up:hover{
      box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.7);
}

#menu{
      top: 10%;
      z-index:-1;
}
#up{
      top: 85%;
      z-index:99;
}
#background{
      background-image:url(../images/Quotefancy-16645-3840x2160.jpg);
      background-size:cover;
      position: fixed;
      width: 100%;
      height:120vh;
      overflow: hidden;
      filter: blur(12px);
}

/*Navigation*/

aside {
      width: 10vw;
      position: fixed;
      display: flex;
      text-align: center;
      flex-direction: column;
      top: 20%;
      left: 2%;
      z-index: 2;
}

i{
      font-size: 2rem;
      transition: font-size 0.5s ease-in-out, height 0.5s linear, color 0.7s linear;
      color: #f8f8f8;
      text-shadow: 0 0 10px #0095ff;
}

.stripe{
      border: 2px #cecece solid;
      width: 0;
      height: 30px;
      box-shadow: 0 0 20px #0095ff;
      margin: 20px auto;
      filter: blur(1.4px)

}

/*Container*/


.scroll{
      width: 80%;
      height: 90vh;
      margin-top: 4vw;
      margin-left: 12vw;
      padding-top: 4vw;
      float: left;
      position: relative;
      display: block;
      background:none;
      overflow: hidden;
      border-top: 2px solid rgba(0, 0, 0, 0.7);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
}

.scroll:nth-child(6){
      border-top: none;
      box-shadow: none;
}

h2{
      font-size: 4vw;
      margin-left: 50px;
      text-shadow:  25px 25px 40px rgba(0, 0, 0, 0.7);
}
h3{
      height: 6vw;
      line-height: 6vw;
      font-size: 3vw;
      text-shadow:  25px 25px 40px rgba(0, 0, 0, 0.7);
}
.scroll>img{

      filter: grayscale(100%);
      transition: filter 0.3s linear, box-shadow 0.3s ease-in-out, transform .3s ease-in-out;
}
.scroll img:hover{
      filter:none;
      box-shadow:  25px 25px 40px rgba(0, 0, 0, 0.7);
      transform: scale(1.03);
}
/*Home*/



.slide_img1 {
      width: 100%;
      height: auto;
      float: left;
}
.slide_img1 span{
      width: 40%;
      margin: 10% auto auto 5%;
      display: flex;
      flex-wrap: wrap;
      font-size: 3vw;
}

#home{
      position: relative;
}
#home>img{
      width: 35vw;
      height: auto;
      position: absolute;
      top: 250px;
      right: 3vw;
      opacity: 1;
/*      z-index: 99;*/
}

/*Education*/
#edu-container{
      width: 100%;
      display: flex;
      padding-top: 3vw;
}
.period{
      background: white;
      width: 10vw;
      height: 3vw;
      display: flex;
      text-align: center;
      background-image: linear-gradient(90deg, rgba(230, 0, 115, 1) 0%, rgba(116, 83, 224, 1) 100%);
      font-size: 1vw;
      font-weight: bold;
      transition: box-shadow 0.2s ease-in-out;
}
.period:hover{
      box-shadow:  15px 15px 20px rgba(0, 0, 0, 0.7);
}

#edu-center{
      flex: 1;
      width: 100%;
}
#edu-center .stripe{
      margin: 0.6vw auto;
      height: 1vw;
}
#edu-left, #edu-right{
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 3vw;
      box-sizing: border-box;
}
#edu-left{
      align-items: flex-end;
}
#edu-left span{
      text-align: right;
}

#edu-left span, #edu-right span{
      width: 100%;
      height: 5.5vw;
      font-size: 1.3vw;
      transition: box-shadow 0.2s ease-in-out;
}

/*Skills*/

#s-w{
      display: flex;
      margin-bottom: 1.5vw;
      height: 15vw;
      
}
#s-w .stripe{
      height: 100%;
      margin: 0 2%;
}
#s-w h3{
      margin: 0 0 1.5vw 0;
      height: 3vw;
      line-height: 3vw;
}
#s-w .h3{
      margin: 30px 0;}
#s-w>div div{
      font-size: 1.5vw;
      height: 2vw;
}
#strength{
      text-align: right;
     width: 48%; 
}
#weakness{
      width: 48%;
}
#graph{
      width: 80%;
      height: 3vw;
      margin: 1vw auto;
      display: grid;
      grid-template-columns: 30% 70%;
      justify-content: space-around;
      
}
#graph p{
      width: 100%;
      height: 3vw;
      line-height: 3vw;
      font-size: 1.1vw;
      font-weight: bold;
      padding: auto 0;
      box-sizing: border-box;
}
/*--Progress bar--*/

.progress-bar {
    background-color: #1a1a1a;
    height: 4vh;
    width: 100%;
    margin: 1vh 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.shine span {
      background-image: linear-gradient(90deg, rgba(230, 0, 115, 1) 0%, rgba(116, 83, 224, 1) 100%);
      position: relative;
      display: inline-block;
      height: 100%;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
      transition: width .4s ease-in-out; 
}
.shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
}
@keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}

/*Projects*/

#tech{
      display: grid;
      grid-gap: 20px 20px;
      grid-template-columns: 24% 24% 24% 24%;
      grid-template-rows: auto auto;
      justify-content: space-around;

}
#tech>div{
      height:9vh;
      width: 100%;
      background-repeat:no-repeat; background-position: center center; background-color: rgba(248,248,248,0.3);
      background-size: 50% auto;
      box-shadow: 0 0 10px 5px rgba(248,248,248,0.3);
      filter:grayscale(1);
      transition: filter 0.2s linear, background-size 0.3s ease-in-out;
}
#tech>div:hover{
      filter: none;
      background-size: 60% auto;
}
#experience h3{
      text-align: center;
      font-size: 2vw;
}
#tech img{
      height: 10vh;
      width: 25%;
      
}
#projects{
      display: flex;
      height: 100%;
      justify-content: space-between;
}
.project{
      width: 25%;
      height: 15vw;
      flex-direction: column;
      position: relative;
      overflow: hidden;
}
#project1{
      background-image:url(../images/newszing.PNG);
      background-size:contain;
      background-position: top center;
}#project2{
      background-image:url(../images/hyt.PNG);
      background-size:cover;
      background-position: top center;
}#project3{
      background-image:url(../images/a-smart.PNG);
      background-size:cover;
      background-position: top center;
}
.project a{
      width: 100%;
      height: 30%;
      position: absolute;
      bottom:-30%;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      opacity: 0;
      transition: bottom 0.3s linear, opacity 0.3s linear;
      z-index: 99;
}
.project:hover a{
      bottom: 0;
      opacity: 1;
}      
.zoom{
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      text-align: center;
      padding-top: 10%;
      background: rgba(35,43,86,0.9);
      opacity:0;
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out
}
.zoom img{
      width: 20%;
/*      height: auto;*/
      cursor: pointer;
}

.project:hover .zoom{
      width: 100%;
      height: 100%;
      opacity: 1;
}

/*Contact*/
form{
      
      background-image: url(../images/il_fullxfull.1176017278_obss_1280x1280.jpg);
      background-position: bottom right;
      background-size: cover;
      padding: 4vh 0 3vh 2vw;
      width: 100%;
      height: auto;
      margin-top: 1vw;
      
}
input{
      height: 4vh;
      width: 40%;
      margin: 10px 0; 
      outline: none;
      letter-spacing: 1px;
      color: black;
}
#message{
      height: 12vh;
      width: 40%;
      color: black;
}
button{
      width: 100px;
      height: 30px;
      cursor: pointer;
      background-image: linear-gradient(90deg, rgba(230, 0, 115, 1) 0%, rgba(116, 83, 224, 1) 100%);
      border: none;      
}
#social{
      display: flex;
}
.contacts{
      float:left;
      width: 100% !important;
      height: 10vw;
      padding: 5px;
      box-sizing: border-box;
      position: relative;
      
}
.contacts:nth-child(1){
      background: #845EFF;
}
.contacts:nth-child(2){
      background: #7453E0;
}
.contacts:nth-child(3){
      background: #422F7F;
}
.contacts img{
      position: absolute;
      width: 15% !important;
      height: auto;
      margin: 5% 5%;
      
}
.contacts a{
      position: absolute;
      top: 30%;
      left: 30%;
      height: 20%;
/*
      margin-left: 50px;
      margin: 50px 0;
*/
      font-weight: bold;
      font-size: 2vw;
}
form p, form input{
      color: black;
}

/*Responsive*/

@media only screen and (max-device-width: 780px) {
      aside {
            left:auto;
            right:10%;
            display: none;
            width: 20px;
      }
      i {
            font-size: 3rem;
      }
      #menu{
            z-index: 99;
            }
      .scroll{
            margin-left: 6vw;
            height: 90vh;
            border-top: 8px solid rgba(0, 0, 0, 0.4);
            
      }
      h2{
            font-size: 10vw;
      }
      h3{
            font-size: 4vh;
/*            margin-top: 10vh;*/
      }
      #strength .h3{
             line-height: 10vh;
            margin: 2vh 0;
      }
      #home{
            width: 100%;
      }
      .slide_img1{
            width: 100%;
            margin: 0;
            padding: 0;
      } 
      .slide_img1 span{
            width: 80%;
            font-size: 5vw;
      }
      #home img{
            width: 80%;
            position: relative;
            top: 50%;  
            margin-top: 10vh;
      }
      #edu-container{
            display: block;
            position: relative;
            height: 500px;
            z-index: 99;
      }
      #edu-container .stripe{
            display:none;
      }
      .period{
            
            width: 30%;
            height: 13vw;            
            padding: 20px auto 0;
            font-size: 3.5vw;
            text-align: center;
            margin: 2vw 0;
            box-sizing: border-box;

      }
      #edu-center{

            position: absolute;
      }
      
      #edu-left{
            align-items: flex-start;
            top: 7vw;
            left: 24vw;
            position: absolute;    
      }
      #edu-right{
            top: 6vw;
            left: 24vw;
            position: absolute;

      }
      #edu-left span{
            text-align: left;
      }

      #edu-left span, #edu-right span{
            font-size: 1.8vh;
            height: 15vw;
            width: 70%;
      }
      #s-w{
            flex-direction: column
      }
      #s-w>div div{
            font-size: 4vw;
            height: 5vw;
            width: 100%;
      }
      #strength, #weakness{
            text-align: left;
            padding: 20px;
            width: 100%;
      }
      #graph{
            margin: 40vh 0 0 20px;
      }
      #graph p{
            margin: 2vh 0;
            font-size: 2.5vw;
      }
      #tech{
           grid-template-columns: 48% 48%;
            grid-template-rows: auto auto; 
      }
      .project{
            width: 30%;
            height: 25vh;
      }
      #experience h3{
            text-align: center;
            font-size: 5vw;
            height: 8vh;
            line-height: 8vh;
      }      
      
      form{
            width: 100%;
           margin: 0 auto; 

      }
      input, #message{
            width: 70%;
            margin: 5px auto; 
      }
      button{
            width: 70%;
            height: 5vh;
            font-size: 1.8rem;
      }

}
